# USERS SERVICE
USERS_DEBUG=1
USERS_SECRET_KEY=dev-secret-key-change-me
USERS_ALLOWED_HOSTS=localhost,127.0.0.1

USERS_POSTGRES_DB=users_db
USERS_POSTGRES_USER=users_user
USERS_POSTGRES_PASSWORD=users_pass
USERS_POSTGRES_HOST=users-db
USERS_POSTGRES_PORT=5432

# PRODUCTS SERVICE
PRODUCTS_POSTGRES_DB=products_db
PRODUCTS_POSTGRES_USER=products_user
PRODUCTS_POSTGRES_PASSWORD=products_pass
PRODUCTS_POSTGRES_HOST=products-db
PRODUCTS_POSTGRES_PORT=5432

# Spring Boot reads these directly
PRODUCTS_DB_URL=jdbc:postgresql://products-db:5432/products_db
PRODUCTS_DB_USER=products_user
PRODUCTS_DB_PASSWORD=products_pass

# ---------- ORDERS SERVICE ----------
ORDERS_MONGO_DB=orders_db
ORDERS_MONGO_USER=orders_user
ORDERS_MONGO_PASSWORD=orders_pass
ORDERS_MONGO_HOST=orders-db
ORDERS_MONGO_PORT=27017

# Standard Mongo connection string for the app container:
ORDERS_MONGO_URI=mongodb://orders_user:orders_pass@orders-db:27017/orders_db?authSource=admin